@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fourth ASP.NET Task</h1>
    <p class="lead">Completed by Martin</p>
    <p><a href="http://www.mstoyanov.info/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>